<?xml version="1.0" encoding="UTF-8" ?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="congresos-plugin-showmap" version="1.0.0">
  <description>Google AdMob Ads plugin for Cordova, Phonegap, Ionic/Angular and Intel XDK. Monetize your app with one javascript line. Android SDK v7.5, iOS SDK v7.3.1. With support for tappx and auto-detect internet connection.</description>
  <name>AdMob Google Ads + Tappx</name>
  <author email="info@appfeel.com" href="https://github.com/appfeel/admob-google-cordova">AppFeel</author>
  <license>MIT</license>
  <keywords>ad,ads,admob,google,advertising,advertisment,publicity,earn,win,play,services,iad,flurry,monetization,money,appfeel,tappx</keywords>
  <repo>https://github.com/appfeel/admob-google-cordova.git</repo>
  <issue>https://github.com/appfeel/admob-google-cordova/issues</issue>

  <engines>
    <engine name="cordova" version=">=4.0.0" />
  </engines>

  <dependency id="cordova-connectivity-monitor" />

  <js-module src="www/showmap.js" name="showmap">
    <clobbers target="window.showmap" />
  </js-module>

  <!-- android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="ShowMap">
        <param name="android-package" value="me.publicar.congresos.plugin.ShowMap" />
      </feature>
    </config-file>
    
    <source-file src="src/android/ShowMap.java" target-dir="me/publicar/congresos/plugin" />
  </platform>
</plugin>
